#after_submit {
  visibility: hidden;
  margin-top: 20em;
  text-align: center;
}
.instruction {
  padding: 3em;
  padding-left: 0;
}
.ex {
  display: inline;
  padding-left: 1em;
  padding-top: 0.5em;
}
#textbox {
  display: block;
}
input {
  margin-bottom: 3em;
}
