/*footer style*/
footer {
	background: black;
	width: 100%;
	height: 15vh;
	position: absolute;
	bottom: 0;
	left: 0;
	/*z-index: 100;*/
}

/*nav footer style*/
.bottom-nav {
	float: left;
}
.nav-list {
	list-style: none;
}
.nav-cell {
	display: inline-block;
	float: left;
	padding: 2vw 2vh;
}
/*link style*/
a {
	color: white;
	text-decoration: none; 
	font-weight: bold;
}
a:hover {
	text-decoration: none;
}

/*responsive nav*/
@media only screen and (max-width: 640px) {
	footer{
		position: absolute;
	}
	.bottom-nav .nav-list, .bottom-nav:active .nav-list {
		display: none;
		position: absolute;
		padding: 20px;
		background: red;
		right: 5vw;
		bottom: 4vh;
		width: 35 vw;
	}
	.bottom-nav :hover .nav-list {
		display: block;
	}
	.bottom-nav .nav-cell {
		text-align: center;
		width: 100%;
		padding: 15px 0;
		margin: 0;
	}
}	