* {
	margin: 0;
}
.wallpaper {
	background-image: url(img/png/path4.png);
	background-repeat: repeat-x repeat-y;
	background-size: 20px;
	width: 100%;
	margin: 0;
}
.square {
	/*font style*/
	color: white;
	/*size of the div*/
	width: 40vw;
	height: 40vh;
	background-color: #FEC91B;
	border-radius: 5%;
}
