#after_submit {
  visibility: hidden;
}
.instruction {
  padding: 3em;
  padding-left: 0;
}
.nat {
  width: 200px;
  padding:1em;
  margin-right: 6em;

}
#textbox {
  display: block;
}
input {
  width: 40%;
  height: 5vh;
  padding: 0.5em;
  margin-bottom: 3em;
  border: none;
  border-bottom: 1px solid gray;
}
