@font-face {
  font-family: "Sketch";
  src: url("../fonts/HB Sketch Demo.otf");
}
#after_submit {
  visibility: hidden;
  margin-top: 20em;
  text-align: center;
}
.instruction {
  padding: 3em;
  padding-left: 0;
}
.ex {
  display: inline;
  padding:1em;
}
#textbox {
  display: block;
}
input {
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-bottom: 3em;
}
span {
  font-family: "Sketch", serif !important;
  font-size: 1.5em;
}
