body {
  margin: 0;
}
#main {
  width: 100%;
  height: 70vh;
}
.padding-div {
  margin-top: 15em;
}
.padding-btn {
  padding: 2em;
}
/*footer {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 10vh;
}*/
p >em {
  padding-right: 0.8em !important;
  color: #003300 !important;
}
