#after_submit {
  visibility: hidden;
}
.instruction {
  padding: 3em;
  padding-left: 0;
}
@font-face {
  font-family: "Sketch";
  src: url("../fonts/HB Sketch Demo.otf");
}
.ex, span {
  display: inline;
  padding-left: 1em;
  padding-top: 0.5em;
  width: 200px;
  padding:1em;
  margin-right: 0.5em;
  font-family: "Sketch", serif !important;
  font-size: 1.5em;
}
#textbox {
  display: block;
}
input {
  margin-bottom: 3em;
  margin-right: 1em;
}
